<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<title>Update Dealerships</title>
</head>

<h1 class="text-center">Update Dealership Page</h1>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/dealerships">Dealerships</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/employees">Employees</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cars">Cars</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/transactions">Transactions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/customers">Customers</a>
  </li>
</ul>
<br>

<div class="container">
	<div class="jumbotron">

		<h3>Update Dealership</h3>
		<form id='update-dealership' action='/dealerships' method='post'>
			<div class="form-group">
			<label for="name">Name:</label>
			<input type="text" class="form-control" name="name" value="{{dealership.name}}">
			</div>
			<div class="form-group">
			<label for="phoneNum">Phone Number:</label>
			<input type="text" class="form-control" name="phoneNum" value="{{dealership.phoneNum}}">
			</div>
			<div class="form-group">
			<label for="carStock">Car Stock:</label>
			<input type="text" class="form-control" name="carStock" value="{{dealership.carStock}}">
			</div>
		</form>
		<button type="button" class="btn btn-danger" onclick="updateDealership({{dealership.id}})">Save</button>
	</div>
</div>
