<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<title>Update Customers</title>
</head>

<h1 class="text-center">Update Customer Page</h1>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/dealerships">Dealerships</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/employees">Employees</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cars">Cars</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/transactions">Transactions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/customers">Customers</a>
  </li>
</ul>
<br>


<div class="container">
	<div class="jumbotron">

		<h3>Update Customer</h3>
		<form id='update-customer' action='/customers' method='post'>
			<div class="form-group">
			<label for="cMake">First Name:</label>
			<input type="text" class="form-control" name="fName" value="{{customer.fName}}">
			</div>
			<div class="form-group">
			<label for="cModel">Last Name:</label>
			<input type="text" class="form-control" name="lName" value="{{customer.lName}}">
			</div>
			<div class="form-group">
			<label for="cYear">Dealership ID:</label>
			<input type="text" class="form-control" name="dealership_ID" value="{{customer.dealership_ID}}">
			</div>
		</form>
		<button type="button" class="btn btn-danger" onclick="updateCustomer({{customer.id}})">Save</button>
	</div>
</div>
